.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  //background: seagreen;
  border-radius: 4px;
  position: relative;
  width: 600px;
  height: 220px;
  overflow-y: auto;
  color: white;
}

.modal-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-txt {
  text-align: center;
  margin: 15px 25px;
}

.close-button {
  font-size: 36px;
  cursor: pointer;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  button {
    margin-left: 10px;
  }
}